environments/pre-prod/loadBalancer/haproxy.cfg
environments/pre-prod/simulated-secret-store
environments/pre-prod/generated-secrets
environments/pre-prod/configuration
environments/pre-prod/database-scripts

images/liberty_ubi_base/application/**
images/liberty_ubi_combined/classes/**
images/liberty_ubi_combined/server.extensions.xml
images/solr_redhat/jars/**
images/example_connector/app/**
images/etl_client/etltoolkit/**
images/i2a_tools/classes/**
images/i2a_tools/tools
images/sql_client/tools
images/**/environment.sh

pre-reqs/**/*.jar
pre-reqs/**/*.tar.gz

**/logs
**/cookie.txt
**/hsperfdata_root
**backups
**/*.jks
**/*.cer
**/*.key
**/i2Analyze
.vscode
.idea

bld/**