.DS_Store

**/.configuration
**/.configuration-generated
**/.i2a-extensions
**/.connector-images

examples/pre-prod/configuration
examples/pre-prod/database-scripts

configs/**/.*/

images/liberty_ubi_base/application/**
images/liberty_ubi_combined/application/**
images/liberty_ubi_combined/classes/**
images/liberty_ubi_combined/lib/**
images/liberty_ubi_combined/server.extensions.xml
images/liberty_ubi_combined/server.extensions.dev.xml
images/liberty_ubi_combined/user.registry.xml
images/solr_redhat/jars/**
images/example_connector/app/**
images/i2connect_server_base/node_modules/**
images/i2connect_server_base/.npm
images/i2connect_server_base/.npm-global
images/i2connect_server_base/.config
images/etl_client/etltoolkit/**
images/i2a_tools/classes/**
images/i2a_tools/tools
images/sql_client/tools
images/db2_client/tools
images/**/environment.sh
templates/**/environment.sh

templates/**/configuration
templates/**/database-scripts
templates/**/environment.sh
templates/toolkit-config-mod/**/
templates/toolkit-config-mod/?*.*

pre-reqs/i2analyze
pre-reqs/**/*.jar
pre-reqs/**/*.tar.gz
pre-reqs/**/*.zip

connector-images/**/.app
connector-images/**/app/**/connector.secrets.json
connector-images/**/*.tgz
connector-images/**/*.tar.gz

i2a-extensions/**/target
i2a-extensions/target

dev-environment-secrets/*
.dev-environment-secrets/*

## DocFx
obj/
output/
