examples/pre-prod/grafana
examples/pre-prod/prometheus/prometheus.yml
examples/pre-prod/configuration
examples/pre-prod/database-scripts
examples/pre-prod/deploy-test.sh
examples/pre-prod/walkthroughs/change-management/clearDataWalkthrough-test.sh
examples/pre-prod/**/change-sets/**

examples/aws/configuration
examples/aws/database-scripts

images/liberty_ubi_base/application/**
images/liberty_ubi_combined/application/**
images/liberty_ubi_combined/classes/**
images/liberty_ubi_combined/lib/**
images/liberty_ubi_combined/plugins/**
images/liberty_ubi_combined/server.xml
images/liberty_ubi_combined/server.extensions.xml
images/liberty_ubi_combined/server.extensions.dev.xml
images/liberty_ubi_combined/jvm.options
images/liberty_ubi_combined/user.registry.xml
images/liberty_ubi_combined/web-dir-extensions/**
images/solr_redhat/jars/**
images/example_connector/app/**
images/etl_client/etltoolkit/**
images/i2a_tools/classes/**
images/i2a_tools/tools
images/sql_client/tools
images/db2_client/tools
images/postgres_client/tools
images/**/changelog.json
images/**/environment.sh

pre-reqs/i2analyze
pre-reqs/fixpack
pre-reqs/**/*.jar
pre-reqs/**/*.tar.gz
pre-reqs/**/*.zip

**/logs
**/.configuration
**/.configuration-generated
**/.change-sets
**/.i2a-extensions
**/.i2a-plugins
**/.tmp_classes
**/cookie.txt
**/hsperfdata_root
**/*.jks
**/*.cer
**/*.key
**/i2Analyze
.idea
.DS_Store
report/
megalinter-reports/

templates/**/configuration
templates/**/database-scripts
templates/**/environment.sh
templates/**/version.conf
templates/extension-development/.*
templates/extension-development/pom.xml
templates/toolkit-config-mod/**/
templates/toolkit-config-mod/?*.*

configs/*
configs/**/change-sets/**
i2a-data/*
backups/*

gateway-schemas/*
connector-images/*
i2a-extensions/*
i2a-plugins/*
additional-resources/*

dev-environment-secrets/*
dev-environment-secrets-copy/*
.dev-environment-secrets/*

/licenses.conf
/path-configuration.json
/.devcontainer/devcontainer.json
/.s3cfg

!.gitignore
!.gitattributes
!.gitkeep

bld/
**/tmp/**

## DocFx
obj/
docs/output/
docs/build
docs/versions
# Autogen
docs/guidetoc/toc.yml
vendor/
shdoc/
