<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed Materials - Property of IBM
  ~ 5725-G22
  ~ (C) Copyright IBM Corp. 2012, 2020 All Rights Reserved.
  ~ US Government Users Restricted Rights - Use, duplication or
  ~ disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
  -->

<Configuration>
  <Properties>
    <Property name="detailedPatternLayout">%date{ISO8601} %-4relative [%thread] %-5level %logger@%line - [s:%X{requestSessionId} r:%X{requestUniqueId} %x] - %message%n</Property>
    <Property name="statusPatternLayout">%d %-5p %-30c{1} - %m%n</Property>
    <Property name="indexProgressPatternLayout">%d{yyyy-MM-dd'T'HH:mm:ss},%m%n</Property>
    <Property name="solrPatternLayout">%maxLen{%-5p - %d{yyyy-MM-dd HH:mm:ss.SSS}; %c; %m%notEmpty{ =>%ex{short}}}{10240}%n</Property>
  </Properties>
  <Appenders>
    <Console name="I2ANALYZE" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2ANALYZE] ${detailedPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="I2ANALYZERETRY" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2RETRY] ${detailedPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="I2CONNECTASYNCQUERYLOG" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2CONNECT] %d %-4r [%t] %-5p %c - %x - %m%n</Pattern>
      </PatternLayout>
    </Console>
    <Console name="I2ANALYZERELOAD" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2RELOAD] ${statusPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="COMPOPNENTAVAILABILITY" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2AVAILABILITY] ${statusPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="ALERTSCHEDULER" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2ALERTS] ${statusPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="AUDIT" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2AUDIT] ${detailedPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="PUBSUB_MAIN" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2PUBSUB_MAIN] ${statusPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="PUBSUB_MATCH1" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2PUBSUB_MATCH1] ${statusPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="PUBSUB_MATCH2" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2PUBSUB_MATCH2] ${statusPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="PROGRESS_MAIN" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2PROGRESS_MAIN] ${indexProgressPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="PROGRESS_MATCH1" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2PROGRESS_MATCH1] ${indexProgressPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="PROGRESS_MATCH2" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[I2PROGRESS_MATCH2] ${indexProgressPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
    <Console name="SOLR" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>[SOLR] ${solrPatternLayout}</Pattern>
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="WARN">
      <AppenderRef ref="I2ANALYZE" />
    </Root>
    <!-- The ConsoleLogger must be set to INFO, TOOLKITCONSOLE otherwise the startup log checker will not work.-->
    <Logger name="com.i2group.apollo.common.toolkit.internal.ConsoleLogger" level="INFO" additivity="false">
      <AppenderRef ref="I2ANALYZE" />
    </Logger>
    <!-- Root of i2 analyze logging -->
    <Logger name="com.i2group" level="WARN" additivity="false">
      <AppenderRef ref="I2ANALYZE" />
    </Logger>
    <!-- Retry logging -->
    <Logger name="com.i2group.apollo.common.orm.internal.RobustDatabaseTaskExecutor" level="WARN" additivity="false">
      <AppenderRef ref="I2ANALYZERETRY" />
    </Logger>
    <Logger name="com.i2group.disco.data.publication.executor.internal.RobustExecutor" level="WARN" additivity="false">
      <AppenderRef ref="I2ANALYZERETRY" />
    </Logger>
    <Logger name="com.i2group.opal.daod.resultsets.background.internal.ResultSetCleaner" level="WARN" additivity="false">
      <AppenderRef ref="I2ANALYZERETRY" />
    </Logger>
    <!-- HA Logging -->
    <Logger name="com.i2group.disco.sync" level="INFO" additivity="false">
      <AppenderRef ref="COMPOPNENTAVAILABILITY" />
    </Logger>
    <Logger name="com.i2group.disco.sync.ApplicationControl" level="WARN" />
    <Logger name="com.i2group.disco.search.indexing.internal.SolrHealthStatusLogger" level="INFO" additivity="false">
      <AppenderRef ref="COMPOPNENTAVAILABILITY" />
    </Logger>
    <!-- Reload -->
    <Logger name="com.i2group.disco.reload.guice.internal.ConfigurationStartupHandler" level="ERROR" additivity="false">
      <AppenderRef ref="I2ANALYZERELOAD" />
    </Logger>
    <Logger name="com.i2group.disco.reload.guice.internal.LiveConfigurationReloader" level="WARN" additivity="false">
      <AppenderRef ref="I2ANALYZERELOAD" />
    </Logger>
    <!-- Alerting -->
    <Logger name="com.i2group.disco.infostore.alert.schedule.internal.AlertSchedulerLog" level="WARN" additivity="false">
      <AppenderRef ref="ALERTSCHEDULER" />
    </Logger>
    <!-- Opal DAOD -->
    <Logger name="com.i2group.opal.daod.connectors.controller.internal.I2ConnectSynchronizer" level="WARN" />
    <Logger name="com.i2group.opal.daod.connectors.model.internal.ConnectorModelFactory" level="WARN" />
    <Logger name="com.i2group.opal.daod.job.internal" level="WARN" additivity="false">
      <AppenderRef ref="I2CONNECTASYNCQUERYLOG" />
    </Logger>
    <!-- Audit Logging -->
    <Logger name="com.i2group.disco.auditlogger.internal.AllAuditLogger" level="INFO" additivity="false">
      <AppenderRef ref="AUDIT" />
    </Logger>
    <!-- Solr Indexing Logging -->
    <Logger name="PUBSUBLOG.main_index" level="INFO" additivity="false">
      <AppenderRef ref="PUBSUB_MAIN" />
    </Logger>
    <Logger name="PUBSUBLOG.match_index1" level="WARN" additivity="false">
      <AppenderRef ref="PUBSUB_MATCH1" />
    </Logger>
    <Logger name="PUBSUBLOG.match_index2" level="WARN" additivity="false">
      <AppenderRef ref="PUBSUB_MATCH2" />
    </Logger>
    <!-- Records index progress. Useful during a re-index or a match-index build Turn on by changing level to INFO -->
    <Logger name="STATUSLOG.main_index" level="INFO" additivity="false">
      <AppenderRef ref="PROGRESS_MAIN" />
    </Logger>
    <Logger name="STATUSLOG.match_index1" level="WARN" additivity="false">
      <AppenderRef ref="PROGRESS_MATCH1" />
    </Logger>
    <Logger name="STATUSLOG.match_index2" level="WARN" additivity="false">
      <AppenderRef ref="PROGRESS_MATCH2" />
    </Logger>
    <!-- Solr Logging -->
    <Logger name="org.apache.solr" level="WARN" additivity="false">
      <AppenderRef ref="SOLR" />
    </Logger>
    <Logger name="org.apache.zookeeper" level="WARN" additivity="false">
      <AppenderRef ref="SOLR" />
    </Logger>
  </Loggers>
</Configuration>